async-generator
attrs
certifi
cffi
charset-normalizer
decorator
docutils
jsonpath-ng
jsonpointer
jsonschema
pycparser
pyOpenSSL
pyrsistent
python-dateutil
requests
requests-toolbelt
RESTinstance
robotframework
robotframework-csvlibrary
robotframework-databaselibrary
robotframework-datadriver
robotframework-httplibrary
robotframework-metrics
robotframework-requests
robotframework-seleniumlibrary
robotframework-sshlibrary
robotframework-tidy
robotframework-pabot
robotframework-jsonlibrary
robotframework-appiumlibrary
robotframework-retryfailed
selenium==4.9.1
openpyxl
pandas
webdriver-manager
urllib3==1.26.6 
unidecode